* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif; 
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 40px auto; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header {
    display: flex;
    align-items: center;
    justify-content: start; 
    text-align: left; 
    padding: 20px 0;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.info {
    text-align: left; 
    flex: 1;
    padding-left: 20px; 
}

.profile-picture {
    flex-shrink: 0; 
}

.profile-picture img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.info {
    padding-left: 20px; 
    flex-grow: 1;
}

header h1, header p {
    margin: 0.5em 0;
    color: #222;
}

section {
    margin-bottom: 20px;
    padding: 15px 0;
}

h2 {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin: -20px -20px 20px -20px;
}

.job, .school, .skills ul {
    padding-left: 20px;
}

.skills li, .skills .skill-details p {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #333;
    cursor: pointer; 
}

.skills .skill-details {
    display: none;
    padding-left: 20px;
}

@media (max-width: 400px) {
    header {
        flex-direction: column;
        text-align: left; /* Align text to the left for consistency with the image alignment */
    }

    .profile-picture, .info {
        width: 100%;
        padding: 0;
        display: flex; /* Keep the flex display for alignment */
        align-items: center; /* Align items in the center vertically */
    }

    .profile-picture img {
        margin: 0 0 20px 0; /* Keep the image aligned to the left with margin only at the bottom */
        width: 60px; /* Optional: Adjust for smaller screens */
        height: 60px; /* Optional: Adjust for smaller screens */
    }

    .info {
        padding-top: 10px; /* Add some padding on top for spacing after the image */
    }

    /* Reset margins for h1 and p to align properly next to the image, if needed */
    .info h1, .info p {
        margin-left: 10px; /* Add some space on the left for text */
    }
}



